model_config_list: {
  config: {
    name: "app_classifier"
    base_path: "/models/app_classifier"
    model_platform: "tensorflow"
  }
  config: {
    name: "attack_classifier"
    base_path: "/models/attack_classifier"
    model_platform: "tensorflow"
  }
  config: {
    name: "binary_classifier"
    base_path: "/models/binary_classifier"
    model_platform: "tensorflow"
  }
}
